﻿@import url('https://fonts.googleapis.com/css?family=Dynalight');
@import url('https://fonts.googleapis.com/css?family=El Messiri');

.textoLogo{
    font-size: initial;
    font-weight: 600;
}

.caixaLogo{
	background: rgba(255, 255, 255, 0.45);
    width: 30em;
    /* height: 18em; */
    border-radius: 2em;
    /* margin-top: 73px; */
    padding-top: 0px;
    padding-bottom: 2em;
	/* float: right; */
    /* margin: 3em 16em 0 0em; */
}

.textoSecao{
	/* background: rgba(128, 128, 128, 0.26); */
	background: rgba(244, 205, 176, 0.2);
}

.textoCadastro {
	padding: 1em 0;
}

.textoFinal{
	background: rgba(219, 170, 159, 0.69);
}

h1, h2, h3, h4{
	font-family: 'Dynalight';
}
h1{
	font-weight:bolder;
	font-size: 50px;
}

section{
	padding:50px;
}

p{
	font-family: 'El Messiri';
}

footer{
	background: rgba(219, 170, 159, 0.69);
}