/*
 * Start Bootstrap - Full Width Pics (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

.image-bg-fluid-height,
.image-bg-fixed-height {
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.image-bg-fluid-height {
	background: url('../img/happyDate.png') no-repeat center center fixed; 
	background-color: #8d281c;
    /* padding: 100px 0; */
	width: 100%;
    height: 40em;
}

.image-bg-fixed-height-one {
	background: url('../img/love1.jpg') no-repeat center center fixed;
 	width: 100%;
    height: 25em;
}
.image-bg-fixed-height-two {
	background: url('../img/love2.jpg') no-repeat center center fixed;
 	width: 100%;
    height: 25em;
}
.img-center {
	margin: 0 auto;
}

section {
    padding: 75px 0;
}

.section-heading {
    margin: 30px 0;
    font-size: 4em;
}

.section-lead {
    margin: 30px 0;
}

.section-paragraph {
    margin: 30px 0;
}

footer {
    margin: 0px 0;
}

@media(max-width:768px) {
    section {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .section-heading {
        font-size: 2em;
    }
}